<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Timerzyanov_GlazkiEntities" connectionString="metadata=res://*/TimerzyanovModel.csdl|res://*/TimerzyanovModel.ssdl|res://*/TimerzyanovModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-L09602VI67U;initial catalog=Timerzyanov_Glazki;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>